*,
*::before,
*::after{
    margin: 0;
    padding:0;
}
:root{
--Red:hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%);
--Grayish-Blue: hsl(246, 25%, 77%);

}
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('./images/bg-intro-mobile.png');
    background-size:cover ;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 11vh 5vw;
}
header{
    text-align: center;
    color:white;
}
h1{
    font-weight: 700;
}
.head_para{
    font-weight:500;
    margin: 25px 10px 60px;
}

div.shadow{
    max-width: 100%;
    margin:25px 0;
    background:white;
    padding:15px;
    border-radius: 10px;
    text-align:center;
}
div.price_div.shadow{
    background-color:var(--Blue);
    padding:10px 50px;
    border-radius: 10px;
    color:white;
}
.price_div > span{
    font-weight: 600;
}
input{
    width:90%;
    border-radius: 5px;
    height: 30px;
    padding:10px;
    margin:10px 0;
}
button{
    width:100%;
    border-radius: 10px;
    background: var(--Green);
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    padding:20px;
}
.err{
    display: none;
}
.valid{
    display: block;
    text-align: right;
    color:var(--Red);
    font-size:0.9rem;
    margin-bottom:10px;
}
.disclaimer{
    font-size:small;
    margin:0 10px;
    padding:10px 0;
    color:var(--Grayish-Blue);
    font-weight: 500;
}
::placeholder{
    font-weight: 600;
    color:var(--Dark-Blue);
}
.shadow{
    box-shadow: 0 5px var(--Dark-Blue);
}
.disclaimer>a{
    color:var(--Red);
}
@media (min-width:760px){
    body{
        flex-direction:row;
        flex-wrap: wrap;
        padding:0;
    }
    header,
    main{
        display: inline-block;
        max-width:39%;
        margin:auto ;
        /* padding:0 5px; */
    }
    footer{
        margin:10px auto;
    }
}